{% extends 'base.html.twig' %}

{% block title %}Liste Pokemons{% endblock %}

{% block content %}

<main>
    <section>
        {% for pokemon in pokemons %}
            {% if pokemon.isPublished %}
                <article class="listePokemon">
                    <div class="pokemon"><img src="{{ pokemon.image }}" alt="{{ pokemon.title }}"></div>
                    <h2>{{ pokemon.title }}</h2>
                    <p>{{ pokemon.content }}<br><a href="{{ path('pokemon_id') }}?id={{ pokemon.id }}">Voir la fiche du pokemon</a></p>
                </article>
            {% endif %}
        {% endfor %}
    </section>
</main>
{% endblock %}