{% extends 'base.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block content %}

    <main>
        <section id="descriptionPokemon">
            <article class="descriptionPokemon">
                <div><img src="{{ product.image }}" alt="{{ product.title }}"></div>
                <h2>{{ product.title }}</h2>
                <p>{{ product.description }}<br><br><span id="productPokemon">{{ product.price }} pokédollards</span></p>
            </article>
        </section>
    </main>

{% endblock %}