{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block content %}

    <main>
        <section>
            {% for product in products %}
                    <article class="listePokemon">
                        <div class="pokemon"><img src="{{ product.image }}" alt="{{ product.title }}"></div>
                        <h2>{{ product.title }}</h2>
                        <p>{{ product.price }}<br><a href="{{ path('product_id', {id: product.id })}}">Voir le produit</a></p>
                    </article>
            {% endfor %}
        </section>
    </main>

{% endblock %}