<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href=" {{ asset('css/style.css') }}">
</head>
<body>
<header>
    <div id="head">
        <div class="pokeballHead"><img src="https://www.pokepedia.fr/images/e/e2/Pok%C3%A9_Ball-RS.png" alt="pokeball"></div>
        <div id="logoPokemon"><img src="https://jolstatic.fr/www/captures/1951/6/58356.png" alt="logo"></div>
        <div class="pokeballHead"><img src="https://www.pokepedia.fr/images/e/e2/Pok%C3%A9_Ball-RS.png" alt="pokeball"></div>
    </div>
    <div id="smallStarter"><img src="https://www.pokemontrash.com/images/news/1534957796657.png" alt="starter"></div>
    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('liste_pokemons') }}">Pokemons</a></li>
            <li><a href="{{ path('pokemon_bdd') }}">Pokemon Bdd</a></li>
            <li><a href="{{ path('insert_pokemon') }}">Ajout Pokémon</a></li>
            <li><a href="{{ path('categorie_version') }}">Version</a></li>
            <li><a href="{{ path('shop_pokemon') }}">Boutique</a></li>
            <li><a href="{{ path('choice_pokemon') }}">Es-tu prêt?</a></li>
            <li><a href="{{ path('search_pokemon') }}">Recherche</a></li>
        </ul>
    </nav>
</header>

{% block content %}
{% endblock %}

<footer>
    <div><img src="https://www.pokepedia.fr/images/thumb/0/0e/Tortank-RB.png/175px-Tortank-RB.png" alt="tortank"></div>
    <div><img src="https://www.pokepedia.fr/images/thumb/e/e2/Dracaufeu-RB.png/175px-Dracaufeu-RB.png" alt="dracaufeu"></div>
    <div><img src="https://www.pokepedia.fr/images/thumb/b/b2/Florizarre-RB.png/175px-Florizarre-RB.png" alt="florizarre"></div>
</footer>
</body>